  <!-- Create user Modal -->
  <ng-template #createuser>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create User</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="userForm" (ngSubmit)="createUser()">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" class="form-control" id="username" formControlName="username">
              <div *ngIf="userForm.controls['username'].errors && userForm.controls['username'].touched"  >
                <ul>
                  <li class="msg_error" *ngIf="userForm.controls['username'].hasError('required')">Username is required.</li>
                  <li class="msg_error" *ngIf="userForm.controls['username'].hasError('pattern')">Username must be alphanumeric.</li>
                </ul>
              </div>
              
              
              
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="firstName">First Name:</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName" required>
              <div *ngIf="userForm.controls['firstName'].errors && userForm.controls['firstName'].touched"  >
                <ul>
                  <li class="msg_error" *ngIf="userForm.controls['firstName'].hasError('required')">First Name is required.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="lastName">Last Name:</label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName" required>
              <div *ngIf="userForm.controls['lastName'].errors && userForm.controls['lastName'].touched"  >
                <ul>
                  <li class="msg_error" *ngIf="userForm.controls['lastName'].hasError('required')">Last Name is required.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" formControlName="password" required>
              <div *ngIf="userForm.controls['password'].errors && userForm.controls['password'].touched"  >
                <ul>
                  <li class="msg_error" *ngIf="userForm.controls['password'].hasError('required')">Password is required.</li>
                  <li class="msg_error" *ngIf="userForm.controls['password'].hasError('minlength')">Password length must be 12 or more.</li>
                  <li class="msg_error" *ngIf="userForm.controls['password'].hasError('maxlength')">Password length must be 20 or less.</li>
                  <li class="msg_error" *ngIf="userForm.controls['password'].hasError('pattern')">Invalid password.</li>

                </ul>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" formControlName="email" required>
              <div *ngIf="userForm.controls['email'].errors && userForm.controls['email'].touched"  >
                <ul>
                  <li class="msg_error" *ngIf="userForm.controls['email'].hasError('required')">Email is required.</li>
                  <li class="msg_error" *ngIf="userForm.controls['email'].hasError('email')">Invalid Email.</li>
        

                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="isAdmin">Role:</label>
              <select class="form-control" id="isAdmin" formControlName="isAdmin" required>
                <option  value="1">Admin</option>
                <option selected value="0">User</option>
              </select>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="isActive">Is Active:</label>
              <select class="form-control" id="isActive" formControlName="isActive" required>
                <option selected value="1">Active</option>
                <option value="0">Disabled</option>
              </select>
            </div>
          </div>

          <div class="col d-flex align-items-center">
            <div class="form-group">
              <label id="isnew" for="isNew">Ask to change password:</label>
              <input checked type="checkbox" id="isNew" formControlName="isNew">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <button [disabled]="userForm.invalid" type="submit" class="btn btn-primary createuser">
              Create User
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  
  
  <button
    type="button"
    (click)="openModal(createuser)"
    class="btn btn-primary float-right btn-create"
    style="float: right;margin-bottom: 10px"
  >
  Create User
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
  </button>
  <table  class="table table-hover  table-bordered table-user-list align-middle mb-0 bg-white">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Username</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">createdAt</th>
        <th scope="col">updatedAt</th>
        <th  scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td *ngIf="user.isActive"><span class="badge rounded-pill text-bg-success">Active</span></td>
        <td *ngIf="!user.isActive"><span class="badge rounded-pill text-bg-danger">Inactive</span></td>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.createdAt | date }}</td>
        <td>{{ user.updatedAt | date }}</td>
        <td *ngIf="currentUser && currentUser.isAdmin">
          <button type="button" class="btn btn-warning">Edit</button
          ><button *ngIf="!user.isAdmin"
            type="button" class="btn btn-danger" (click)="delete(user.id)">Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

